SECRET_KEY=your_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALLOWED_ORIGINS=*

DATABASE_TYPE=postgresql # or sqlite


## If DATABASE_TYPE is sqlite
SQLITE_DB_PATH=./data.db

## If DATABASE_TYPE is postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=database_name